---
import Layout from "@layouts/Layout.astro";

const pages = [
  {
    name: "First Scene",
    url: "/firstScene/",
  },
  {
    name: "Shader Model",
    url: "/shaderModel/",
  },
  {
    name: "Sphere and Shadow",
    url: "/sphereAndShadow/",
  },
  {
    name: "Shader Wave",
    url: "/shaderWave/",
  },
  {
    name: "Shader Smoke",
    url: "/shaderSmoke/",
  },
  {
    name: "Noise Shader Wave",
    url: "/noiseShaderWave/",
  },
  {
    name: "Distortion Scroll",
    url: "/distortionScroll/",
  },
  {
    name: "Earth 001",
    url: "/earth001/",
  },
];
---

<Layout title="Three.js Sketches">
  <ul>
    {
      pages.map((page, index) => (
        <li>
          <a href={page.url}>{page.name}</a>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  ul {
    padding: 64px;
    color: #fff;
    font-size: 16px;

    a {
      color: #fff;
    }
  }
</style>
