---
import Layout from "~/layouts/Layout.astro";
import { pagesData } from "~/data/pages";
---

<Layout title="Three.js Sketches">
  <ul>
    {
      pagesData.map((page, index) => (
        <li>
          <a href={page.url}>{page.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  ul {
    padding: 64px;
    color: #fff;
    font-size: 16px;

    a {
      color: #fff;
    }
  }
</style>
